<div class="feedback">
	<h3>It looks like your code was unable to compile. Let's take a look why...</h3>

	<p>It appears that you are trying to assign to a variable incorrectly, and are somehow missing, or incorrectly using an equals sign.</p>


	<p>Remember, variable assignment should look like <code>variableName = value;</code> (you will also need to put the variable type infront of the varible name if you haven't already declared it).</p>

	<div class="example">

		<h4>Example</h4>

		<table>

			<tr>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
			</tr>

			<tr>
				<td class="incorrectCode">
<pre>int x = 5;
/* Need to insert an equals sign so we are 
	assigning 10 to a */	
int a 10; 
/* Need to give the boolean variable a name so 
	we are assinging to something */
boolean x == 10;</pre>
				</td>
				<td class="correctCode">
<pre>int x = 5;
int a = 10;
boolean b = (x == 10);</pre>

				</td>


			</tr>


		</table>


	</div>

</div>