<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears that you are attempting to assign to something that is not a varible.</p>

<p>Java requires you to assign to a variable so that it knows where to store the result of your expression.</p>

<p>To fix this, make sure that everything on the left and side of an equals sign is a variable. It may mean that you have to write a few more lines, but it will mean that your program will compile.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
String word = "programming";
int position = 6;
char replacement = 'z';
word.charAt(postion) = replacement; // word.charAt(position) is not a variable so we cannot assign to it
return word;
</pre></code>

<p>Correct Code</p>
<code><pre>
String word = "programming";
int position = 6;
char replacement = 'z';
char[] chars = word.toCharArray(); // Break the word up into a char array
chars[6] = replacement; // Each element in the char array is a variable so we can assign to it
return String.valueOf(chars); // Turn the char array back to a string 
</pre></code>