<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears your code caused a casting error when we were compiling it for you. Casting errors occur when you try and cast an object to a type it cant be casted to (e.g. casting a string to an int).</p>

<p>Ensure that your variables are able to be casted from one type to another and try run your code again.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<pre><code>
int x;
String s = "Hello, World!";
x = (int) s;
</code></pre>

<p>Correct Code</p>
<pre><code>
int x;
double d = 34.92;
x = (int) d;
</code></pre>