<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It looks like you are forgetting to wrap your if condition in parenthesis.</p>

<p>Java requires you do to this so it knows what to evaluate as the if condition, determining if it gets executed or not.</p>

<p>Make sure that you have parenthesis around the conditions in your if statements and then try run your code again.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int a = 10;
if a == 5 {
	return true;
}
</pre></code>

<p>Correct Code</p>
<code><pre>
int a = 10;
if (a == 5) {
	return true;
}
</pre></code>