<div class="feedback">

	<p>It looks like you are forgetting to wrap your if condition in parenthesis.</p>

	<p>Java requires you do to this so it knows what to evaluate as the if condition, determining if the following code gets executed or not.</p>

	<p>Make sure that you have parenthesis around the conditions in your if statements and then try run your code again.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Explanation</p></td>
				<td class="incorrectCode">
<pre>int a = 10;
if a == 5 {
	return true;
}</pre>
				</td>
				<td>
<pre>int a = 10;
if (a == 5) {
	return true;
}</pre>
				</td>
				<td>
					<p>The boolean condition for the if statement (a==5) needs to be wrapped in brackets.</p>
				</td>
			</tr>

		</table>

	</div>
	
</div>