<div class="feedback">

	<p>It seems like you are trying to create two variables with the same name in your method.</p>

	<p>Remember, you only have to declare a variable once even if you are assigning to it in multiple places</p>

	<div class="example">

		<table>

 			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>int a = 5;
...
<span style="background-color: #FFFFA3">int a = 10;</span></pre>
				</td>
				<td class="correctCode">
<pre>int a = 5;
...
<span style="background-color: #FFFFA3">a = 10;</span></pre>
				</td>
				<td class="explanation">
					<p>Redefining a to be an integer is not required. Once a has been defined for the first time, we can continue to assign to it without including the variable type. </p>
				</td>
			</tr>

		</table>

	</div>

	<p>This error may also be due to you redefining the arguments to the method that you are writing.</p>

	<p>This is unnecessary as Java already knows these variables exist after seeing them in the method header.</p>


	<div class="example">


		<table>
			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>public static int sum (int a, int b) {
	<span style="background-color: #FFFFA3">int a, b;</span>
	return a + b;
}</pre>
				</td>
				<td class="correctCode">
<pre>public static int sum (int a, int b) {
	return a + b; 
}</pre>
				</td>
				<td class="explanation">
					<p>a and b are declared inside the method, even though they are already declared in the method header. By removing the declaration, the code can now successfully compile.</p>
				</td>
			</tr>

		</table>

	</div>

</div>