<div class="feedback">

	<p>The Java compiler has suggested that you are missing an operator in your code. A lot of the time the missing operator could be an equals sign, but it can also be other operators like +, -, /, *, %, || and &&.</p>

	<p>In cases where the operator should be an equals left part of the line looks like something that could be a variable name, and the right part looks like something that could be assigned to the left part so the compiler suggests inserting an equals sign as to assign the right part to the left.</p>

	<p>In cases where the operator should not be an equals sign, have a go at putting one of +, -, /, *, %, || or && into the line to make the expression make sense..</p>

	<div class="example">

		<table>
			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>productIsEven true;
string "hello";
string s;
word "" + firstLetter + words + lastLetter;</pre>
				</td>
				<td class="correctCode">
<pre>productIsEven = true;
string = "hello";
string = s;
word = "" + firstLetter + words + lastLetter;</pre>
				</td>
				<td class="explanation">
					<p>Inserting an equals sign manages to fix most of these errors as they are assignments to a variable.</p>
				</td>
			</tr>

		</table>

	</div>


	<div class="example">

		<table>
			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>if (productIsEven(int)(a*b)){  
overtimeHours = 2(normalHours);
if ((age < 20)  (age <=40)) {  </pre>
				</td>
				<td class="correctCode">
<pre>if (productIsEven = (int)(a*b)){  
overtimeHours = 2 * (normalHours);  
if ((age < 20) || (age <=40)) {  </pre>
				</td>
				<td class="explanation">The first line can be solved by putting an equals between productIsEven and assigning it a*b. The second can be solved by putting a multiplication between 2 and (normalHours). The last can be can be solved by putting a && or || after (age < 20) </td>
			</tr>

		</table>

	</div>

</div>