<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears one of your if statements is missing a condition which is stopping your code from compiling.</p>

<p>If statements require a condition so they will only be executed under certain circumstances.</p>

<p>To fix this, ensure that all of your if statements have a boolean condition in brackets after the keyword <code>if</code> and before the opening curly brace.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
if {
	// Statements
}
</pre></code>

<p>Correct Code</p>
<code><pre>
if (condition) {
	// Statements
}
</pre></code>