<div class="feedback">

	<p>It appears one of your if statements is missing a condition which is stopping your code from compiling.</p>

	<p>If statements require a condition so they will only be executed under certain circumstances.</p>

	<p>To fix this, ensure that all of your if statements have a boolean condition in brackets after the keyword <code>if</code> and before the opening curly brace.</p>


	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>if {
	// Statements
}</pre>
				</td>
				<td class="correctCode">
<pre>if (condition) {
	// Statements
}</pre>
				</td>
			</tr>

		</table>

	</div>

</div>





