<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It looks like you are using an illegal operator in your if statements.</p>
<p>Operations in if statements that are counted as illegal include</p>
<ul>

			<li>=! - The exclamation mark should be before the equals sign</li>
			<li>=> - The greater than sign should come before the equals sign</li>
			<li>=< - The less than sign should come before the equals sign</li>
			<li><< - This is the left bitwise shift, not much less than</li>
			<li>>> - This is the right bitwise shift, not much greater than</li>
			<li>\\ - Remember, if you are trying to have your if based on one condition OR an other, you need to use ||</li>
</ul>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int x = 5;
if (x =< 10) { // Less than and equals signs are around the wrong way
	x = 10;
}
</pre></code>

<p>Correct Code</p>
<code><pre>
int x = 5;
if (x <= 10) { // Correct order of less than and equals signs
	x = 10;
}
</pre></code>