<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you included the method header with the code you submitted.</p>

<p>When you submit your code, CodeWrite wraps what you write in a method header and puts it a class so that it can be tested.</p>

<p>Try removing the method header from the code you have written and submit again.</p>


<p><strong>Example</strong></p>

<p>Say you are writing the method <code>boolean productIsEven (int a, int b)</code> and you submit the following solution</p>
<code><pre>
boolean productIsEven (int a, int b) {
	return (a*b)%2 == 0;
}
</pre></code>
<p>CodeWrite will wrap your code within the given method header before it compiles it, so the compiled code is:</p>
<code><pre>
boolean productIsEven (int a, int b) {
	boolean productIsEven (int a, int b) {
		return (a*b)%2 == 0;		
	}
}
</pre></code>

<p>Simply remove the method header and corresponding curly brackets from your code and try again.</p>