<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you are not using the correct arguments for one of your method calls.</p>

<p>If the method you are trying to call is provided by Java then look it up in the Java API to make sure you have the parameters right.</p>

<p>If you are writing a recursive method then make sure that the parameters are the same as in the method header above the code you wrote.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
String s = "CodeWrite";
s.replace('W'); // The replace method takes in two chars, not one
</pre></code>

<p>Correct Code</p>
<code><pre>
String s = "CodeWrite";
s.replace('w');
</pre></code>