<div class="feedback">

	<p>It appears you tried to use one of the basic operators (+, -, *, /,  or %) on a type which it is not allowed.</p>

	<p>Most types other than int and double don't support these operations so you will have to define the logic for them yourself.</p>

	<p>Make sure that you are not using these operators on types for which they aren't defined and then try run your code again.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>String firstString = "I love programming in Java";
String secondString = " in Java";

String thirdString = firstString - secondString;</pre>
				</td>
				<td class="correctCode">
<pre>String firstString = "I love programming in Java";
String secondString = " in Java";

String thirdString = firstString.replace(secondString, "");</pre>
				</td>
				<td class="explanation">
					<p>The subtraction operator is not defined for Strings. You will need to define your own logic for removing part of a string like in the correct code.</p>
				</td>
			</tr>

		</table>

	</div>

</div>

