<div class="feedback">

	<p>It looks like your code was unable to compile. Lets take a look why...</p>

	<p>It appears you are not using the correct arguments for one of your method calls.</p>

	<p>If the method you are trying to call is provided by Java then look it up in the Java API to make sure you have the parameters right.</p>

	<p>If you are writing a recursive method then make sure that the parameters are the same as in the method header above the code you wrote.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>String s = "CodeWrite";
s.replace('W'); </pre>
				</td>
				<td class="correctCode">
<pre>String s = "CodeWrite";
s.replace('w');</pre>
				</td>
				<td class="explanation">
					<p>The replace method takes in two chars, not one</p>
				</td>
			</tr>

		</table>

	</div>

</div>
