<div class="feedback">

	<p>It appears that there is an error with the way you are assigning values.</p>

	<p>Remember, assignment to a variable follows the form</p>
	<ul>
		<li><code>variableType variableName = value;</code> if you haven't already declared the variable.</li>
		<li><code>variableName = value;</code> if you have already declared the variable type.</li>
	</ul>	

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>int hours = 0;
hours + 10;</pre>
				</td>
				<td class="correctCode">
<pre>int hours = 0;
hours = 10;</pre>
				</td>
				<td class="explanation">
					<p>We are not assigning anything as there is no equals sign. By changing the plus to an equals sign we ar now setting the value of hours to 10.</p>
				</td>
			</tr>

		</table>

	</div>

</div>

