<div class="feedback">

	<p>It appears that you tried to invoke a method on an object that the object didn't have.</p>

	<p>Check the Java API to make sure that the method you are calling exists for that type of object and then try run your code again.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eheader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>char c = 'b';
char d = c.charAt(0);</pre>
				</td>
				<td class="correctCode">
<pre>String c = "b";
char d = c.charAt(0);</pre>
				</td>
				<td class="explanation">
					<p>The method charAt(int index) doesn't exist for type char but it does for Strings</p>
				</td>
			</tr>

		</table>

	</div>
	

</div>
