<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears that there is an error with the way you are assigning values.</p>

<p>Remember, assignment to a variable follows the form</p>
<ul>
	<li><code>variableType variableName = value;</code> if you haven't already declared the variable.</li>
	<li><code>variableName = value;</code> if you have already declared the variable type.</li>
</ul>	

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int hours = 0;
hours + 10; // We are not assigning anything as there is no equals sign
</pre></code>

<p>Correct Code</p>
<code><pre>
int hours = 0;
hours = 10; // 10 is now being assigned to the variable hours
</pre></code>