<div class="feedback">

	<p>Java says its because you have an invalid character in your code. Lets see how we can fix it.</p>

	<p>Invalid character errors are generally a result of typos in a computer program. Have a quick scan of your program to see if you can find a typo and then compile again.</p>

	<p>Here is a short list of commonly occuring invalid character errors</p>
	<ul>
		<li>Having a backslash following a semicolon when the programmer accidentally hit it while trying to hit the enter key (e.g. <code>int a = 10;\</code>)) </li>
		<li>Using <code>\=</code> or <code>=\=</code> to mean does not equal rather than <code>!=</code></li>
		<li>Using the <code>#</code> symbol instead of the <code>*</code> symbol for multiplication</li>
	</ul>

</div>