<div class="feedback">

	<p>It appears you are missing a '}' in your code.</p>

	<p>Remember, all blocks of code such as methods, loops and if statements need to be opened with a '{' and closed with a '}'</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Example</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>if (x > 5) {
	x = x + 5;
</pre>
				</td>
				<td class="correctCode">
<pre>if (x > 5) {
	x = x + 5;
}</pre>
				</td>
				<td class="explanation">
					<p>The last line has no '}' to finish the block. Inserting a closing curly brace successfully closes the block of code.</p>
				</td>
			</tr>

		</table>

	</div>

</div>