<div class="feedback">

	<p>It appears that that one of your statements is missing a semicolon at the end.</p>
	<p>Remember, every statement needs to be completed with a semicolon.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>int a = 5
System.out.println("Hello, World")</pre>
				</td>
				<td class="correctCode">
<pre>int a = 5;
System.out.println("Hello, World");</pre>
				</td>
				<td class="explanation">
					<p>Both lines require semicolons at the end to be completed.</p>
				</td>
			</tr>

		</table>

	</div>

</div>