<div class="feedback">

<p>It appears your code is missing a '{'</p>

<p>Remember, all blocks of code such as methods, loops and if statements need to be opened with a '{' and closed with a '}'</p>

	<div class="feedback">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Example</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>if (x > 5) // No '{' to open block of code
	x = x + 5;
	sum += x;
}</pre>
				</td>
				<td class="correctCode">
<pre>if (x > 5) { // '{' successfully opens the block of code
	x = x + 5;
	sum += x;
}</pre>
				</td>
				<td class="explanation">
					<p>The if statement has no '{' to open the block. Inserting a opening curly brace successfully opens the block of code.</p>
				</td>
			</tr>

		</table>

	</div>

</div>	

