<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears your code is missing a '{'</p>

<p>Remember, all blocks of code such as methods, loops and if statements need to be opened with a '{' and closed with a '}'</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
if (x > 5) // No '{' to open block of code
	x = x + 5;
	sum += x;
}
</pre></code>

<p>Correct Code</p>
<code><pre>
if (x > 5) { // '{' successfully opens the block of code
	x = x + 5;
	sum += x;
}
</pre></code>
