<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears that that one of your statements is missing a semicolon at the end.</p>
<p>Remember, every statement needs to be completed with a semicolon.</p>

<p><strong>Examples</strong></p>

<p>Incorrect code</p>
<code><pre>
int a = 5
System.out.println("Hello, World")
</pre></code>

<p>Correct code</p>
<code><pre>
int a = 5;
System.out.println("Hello, World");
</pre></code>

<p>However, lines that start a block of code do not require a semicolon after them.</p>
<p>Instead, they should be completed with and opening brace.</p>

<p><strong>Example</strong></p>

<p>Incorrect code</p>
<code><pre>
if (x > 5) 
	return true;
}
</pre></code>

<p>Correct code</p>
<code><pre>
if (x > 5) {
	return true;
}
</pre></code>

