<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you are missing a '}' in your code.</p>

<p>Remember, all blocks of code such as methods, loops and if statements need to be opened with a '{' and closed with a '}'</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
if (x > 5) {
	x = x + 5;

// No '}' to finish the block
</pre></code>

<p>Correct Code</p>
<code><pre>
if (x > 5) {
	x = x + 5;
} // '}' successfully closes the block of code
</pre></code>
