<div class="feedback">

	<p>It appears you are illegally using one or more of the following operators in your code:</p>
	<ul>
		<li>&&</li>
		<li>||</li>
		<li>!</li>
	</ul>

	<p>Both && and || can only be used on two boolean values. ! can only be used on a single boolean value.</p>
	<p>Most occurances of this error are caused by expressions not evaluating booleans in if statements.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>double items = 100.0/9.0;

if (items <= 10 && !0) { // boolean
	return false;
}</pre>
				</td>
				<td class="correctCode">
<pre>double items = 100.0/9.0;

if (items <= 10 && items != 0) { 
	return false;
}</pre>
				</td>
				<td class="explanation">
					<p>! can only be used on a boolean (0 is an int). && can only be used on two booleans but only the left hand side is a boolean</p>
				</td>
			</tr>

		</table>

	</div>

</div>