<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you are using the wrong type of quotation marks for strings.</p>

<p>Strings are created using double quotation marks.</p>

<p>chars are one character only and are initialized using single quotation marks.</p>


<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
String s = 'Programming is fun!'; // Single quotes are reserved for character constants
</pre></code>

<p>Incorrect Code</p>
<code><pre>
String s = "Programming is fun!"; // Double quotes are to be used for strings
</pre></code>