<div class="feedback">

	<p>It seems like one of the lines in your code has an extra closing parenthesis.</p>

	<p>Remember, every opening parenthesis must be matched with a closing parenthesis. This could be due to you accidentally including an extra closing parenthesis or forgetting to include an opening parenthesis.</p>

	<p>Have a look at your code and ensure that all your brackets are matched, then try run your code again.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>String word = "Programming";

char firstLetter = word.charAt(0);
char secondLetter = word.charAt(word.length()-1);

String newWord = (secondLetter + word.substring(word.length())+firstLetter));
return newWord;</pre>
				</td>
				<td class="correctCode">
<pre>String word = "Programming";

char firstLetter = word.charAt(0);
char secondLetter = word.charAt(word.length()-1);

String newWord = (secondLetter + word.substring(word.length())+firstLetter);
return newWord;</pre>
				</td>
				<td class="explanation">
					<p>The second to last line has more closing parenthesis than it does opening. Removing the last closing parenthesis means that we have the same amount of opening parenthesis as closing.</p>
				</td>
			</tr>

		</table>

	</div>

</div>




