<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears there are too many closing curly brackets in your code.</p>

<p>This is typically caused by putting a closing curly bracket at the end of your code, even though CodeWrite automatically does this for you.</p>

<p>If this is the case with your code then delete the curly brace at the end of your code. If it isn't, then find the misbalance of opening curly brackets to closing curly brackets and delete the extra closing curly bracket.</p>