<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you are trying to call a library method that does not exist.</p>
<p>Library methods are methods that exist in java.lang, where the Math and String classes are found.</p>

<p>Ensure that the spelling of the method is correct. Java cannot tell if the method is spelt incorrectly, and will think it does not exist regardless.</p>
<p>If you are sure that the spelling is correct then the method may not exist. Try Google-ing the method to see you have the inputs right or the method actually exists.</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int a = Math.mx(1, 5); // max has been spelt incorrectly
int b = Math.min(1,2,3); // min only takes in 2 parameters but we have given it 3
boolean c = Math.isPositive(-8); // isPositive(int x) is not defined in Math, and you may have to write the logic for it yourself
</pre></code>

<p>Correct Code</p>
<code><pre>
int a = Math.max(1, 5); // max is spelt correctly now
int b = Math.min(Math.min(1,2), 3); // Have made min only take 2 arguments each time it is called
boolean c; // We have written the logic for isPositive ourselves
if (-8 >= 0) {
	c = true;
} else {
	c = false;
}
</pre></code>