<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears you are trying to call a method that doesn't exist. Let's see if we can fix this...</p>

<p>Remember we are only writing a single method, so if we are going to be calling methods then they will be a:</p>
<ul>
	<li>Static method from a library class (e.g. java.lang.Math)</li>
	<li>A method on a variable that we have defined in the method we are writing</li>
</ul>
<p>If we want to call a method on this variable, then we do it using <code>variableName.methodName(parameters)</code></p>

<p>This error is also caused by misspelling Java keywords that are followed by parenthesis</p>

<p><strong>Example of calling a static method</strong></p>

<p>Incorrect Code</p>
<code><pre>
int a = 5; 
int b = 12;
int c = max(a,b); // max is in the Math package so we need to prefix it with the package name
</pre></code>

<p>Correct Code</p>
<code><pre>
int a = 5; 
int b = 12;
int c = Math.max(a,b); // max is in the Math package so we need prefixed it with the package name
</pre></code>


<p><strong>Example of calling a method on a variable</strong></p>

<p>Incorrect Code</p>
<code><pre>
String s = "Java is awesome!!"
char c = charAt(s, 1); // Trying to get the character at index 1 of the string
</pre></code>

<p>Correct Code</p>
<code><pre>
String s = "Java is awesome!!";
char c = s.charAt(1); // charAt is a String method so we call it on the String s
</pre></code>

<p><strong>Example of a misspelt Java keyword</strong></p>

<p>Incorrect Code</p>
<code><pre>
int x = 10;
boolean b;
If (x > 5) { // if is spelt with a capital 'I'
	b = true;
} elseif (x == 5) { // There is no space between "else" and "if"
	b = true;
	x = 5;
} else {
	b = false;
}
</pre></code>


<p>Correct Code</p>
<code><pre>
int x = 10;
boolean b;
if (x > 5) { // The capital 'I' is now lower case
	b = true;
} else if (x == 5) { // There is now a space between "else" and "if"
	b = true;
	x = 5;
} else {
	b = false;
}
</pre></code>