<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>Apparently some of the code that you have written is unreachable, and so won't compile. What a waste...</p>
<p>Unreachable code is when some of the code that you wrote can never be executed because there is no path that leads to it.</p>
<p>This is generally when you have code following a return statement within a block (e.g. an if statement)</p>

<p>The best way to fix this is to either delete all the code that follows the return statement or move those lines above the return statment</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int a = 5;
int b = 10;

if (a > b) {
	return false;
	a += b; // This line can never be executed as the method returns before it is reached
}

return true;
</pre></code>

<p>Correct Code</p>
<code><pre>
int a = 5;
int b = 10;

if (a > b) {
	return false; // The lines following the return statement
}

return true;
</pre></code>

<p>Correct Code</p>
<code><pre>
int a = 5;
int b = 10;

if (a > b) {
	a += b; // This line is now above the return and so will be executed before the method returns
	return false;
}

return true;
</pre></code>

