<p>It looks like your code was unable to compile. Lets take a look why...</p>

<p>It appears one of your varibles cannot be found by Java as it attempted to build your program.</p>

<p>Remember, you always need to declare your varible before you try to assign to it so Java knows what type of variable it is dealing with.</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
// a has a value assigned to it, but has never specified what type of variable it is
a = 5;
</pre></code>

<p>Correct code</p>
<code><pre>
// a is declared to be an integer, and then has the value 5 assigned to it	
int a = 5;
</pre></code>

<p>Also, remember to be careful of the scope of you variables.</p>
<p>If your variable is defined within a block of code, it will only be accessible within that block.</p>
<p>If you want to access your variable outside of that block, then you will need to define it before the block.</p>

<p><strong>Example</strong></p>

<p>Incorrect Code</p>
<code><pre>
int x = 10;
if (x > 5) {
	int y = x + 4;
}
System.out.println(y); // y cannot be found, as it only existed within the if statement
</pre></code>

<p>Correct Code</p>
<code><pre>
int x = 10;
int y = 0;
if (x > 5) {
	y = x + 4;
}
System.out.println(y); // y was declared before the if statement, and so can be accessed after it
</pre></code>