<div class="feedback">

	<p>It appears that when you were declaring your variables you wrapped the variable type in parenthesis, which you don't need to know.</p>

	<p>Remove the parenthesis from around the variable type and try run your code again. </p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>(int) i = 50;
(String) s = "Hello";</pre>
				</td>
				<td class="correctCode">
<pre>int i = 50;
String s = "Hello";</pre>
				</td>
				<td class="explanation">
					<p>The types in variable declarations does not require parenthesis around them.</p>
				</td>
			</tr>

		</table>

	</div>

</div>