<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<title>CodeWrite - Answer exercise</title>
	<link type="text/css" media="screen" rel="stylesheet" href="feedbackPage_files/style.css">

	<script type="text/javascript" src="feedbackPage_files/jquery.htm"></script>
	<script type="text/javascript" src="feedbackPage_files/jquery-ui.htm"></script>
	<link type="text/css" media="screen" rel="stylesheet" href="feedbackPage_files/jquery-ui-1.css">

	<!-- Selection of endorsements via ajax -->
	<script type="text/javascript">
      function testInput(e){
    	  
    	  if (navigator.appName == 'Microsoft Internet Explorer')
    	  {
    		  var cid = $(e.srcElement).attr("name")
	          var cidSelect = "#"+cid;
    		  $("input[name="+$(e.srcElement).attr("name")+"]").attr('disabled', true);
	    	  $.ajax({
	    	    url: 'ajax/endorseUpdate.php',
	    	    data: {
	      	    	clicked: $(e.srcElement).val(),
	    	    	cid: $(e.srcElement).attr("name"),
	    	    	endorse_type: $("input[name=endorse_type]").val(),
	    	    	question_id: $("input[name=qid]").val(),
	    	    	user_id: $("input[name=user_id]").val(),
	    	    	course_id: $("input[name=course_id]").val()
	        	},
	    	    error: function(xhr) {
	    	      alert('Ajax request error');
	    	      $("input[name="+$(e.srcElement).attr("name")+"]").attr('disabled', false);
	    	    },
	    	    success: function(response) {
	    	      $('#msg').html(response);
	    	      $(cidSelect).html(response);
	    	    }
	    	  });
    	  }else{
	          //var val = $(e.target).val();
	          //alert($("input[name=cid]").val());
	          var cid = $(e.target).attr("name")
	          var cidSelect = "#"+cid;
	    	  $("input[name="+$(e.target).attr("name")+"]").attr('disabled', true);
	    	  $.ajax({
	    	    url: 'ajax/endorseUpdate.php',
	    	    data: {
	      	    	clicked: $(e.target).val(),
	    	    	cid: $(e.target).attr("name"),
	    	    	endorse_type: $("input[name=endorse_type]").val(),
	    	    	question_id: $("input[name=qid]").val(),
	    	    	user_id: $("input[name=user_id]").val(),
	    	    	course_id: $("input[name=course_id]").val()
	        	},
	    	    error: function(xhr) {
	    	      alert('Ajax request error');
	    	      $("input[name="+$(e.target).attr("name")+"]").attr('disabled', false);
	    	    },
	    	    success: function(response) {
	    	      $('#msg').html(response);
	    	      $(cidSelect).html(response);
	    	    }
	    	  });
    	  }
      }

      function interceptTabs(evt, control){
          key = evt.keyCode ? evt.keyCode : evt.which ? evt.which : evt.charCode;
          if (key == 9) {
              //IE support
              if (document.selection) {
                  control.focus();
                  sel = document.selection.createRange();
                  sel.text = '\t';
              }
              //MOZILLA/NETSCAPE support
              else 
                  if (control.selectionStart || control.selectionStart == '0') {
                      var startPos = control.selectionStart;
                      var endPos = control.selectionEnd;
                      restoreTop = control.scrollTop;
                      control.value = control.value.substring(0, startPos) + '\t' + control.value.substring(endPos, control.value.length);
                      control.selectionStart = startPos + 1;
                      control.selectionEnd = startPos + 1;
                      if (restoreTop > 0) {
                          control.scrollTop = restoreTop;
                      }
                  }
                  else {
                      control.value += '\t';
                  }
              
              return false;
          }
          else {
              return key;
          }
      }
	</script>



</head>

<body>


<div id="container">

	<h1>COMPSCI 101 (Example)</h1>

	<div id="status">
	You are logged in as <b>paul</b>.  <a href="http://localhost/codewrite/codewrite/course/main.php?cmd=logout">Logout</a>
	</div>

	<span class="navlink">
	<div id="navigation">
	<span style="border-top:1px solid; border-color:#05f;"><a href="http://localhost/codewrite/codewrite/course/main.php?cmd=leaveCourse">Home</a></span> | <a href="http://localhost/codewrite/codewrite/course/main.php?cmd=mainMenu">Main menu</a> &gt; <a href="http://localhost/codewrite/codewrite/course/main.php?cmd=showAnsweredQuestions">Solved exercises</a> &gt; Review solutions
	</div>
	</span>

	
	
	<h2>You previously solved this exercise (but last submission did not compile)</h2>
<!-- 
	<p class = "spread">
	
	</p>
 -->

	
 
	<a name="tabs"></a>

	<div id="questionDisplay">

		<b>Method:</b>
		<div style="margin-left: 20px; margin-bottom: 20px; border-left: 5px solid #ccc; padding: 10px;">
			<span style="font-family:Courier New, monospace; font-weight: bold;">public boolean isMillionaire (int cash)</span>
		</div>
		<b>Description:</b><br>
		<div style="margin-left: 20px; margin-bottom: 20px; border-left: 5px solid #ccc; padding: 10px;">
			<p>This method should return true if the value of the input is greater than or equal to 1000000, and false otherwise.</p>
		</div>
		<b>An example:</b><br>
		<div style="margin-left: 20px; border-left: 5px solid #ccc; padding: 10px;">
			isMillionaire(0) <span style="color: red;"> should return </span>false
		</div>

	

	
	<div style="background: #fee; margin-top: 10px; padding: 15px; border: 3px solid #f00;">
		<b>Please rate this exercise</b> <a href="http://localhost/codewrite/codewrite/course/main.php?cmd=rateExercise&amp;id=22" style="padding: 5px;">Go&nbsp;»</a>
	</div>

	
	</div>
 
	<a name="answer"></a>

	
	<div style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px; text-align: left; margin-top:0px; margin-left: 40px; margin-right: 30px; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; min-width: 1000px; ">
		<div style="border-bottom: 1px solid #999; padding: 0px; background: #fff; font-size: 100%; ">
			<table border="0"><tbody><tr>
				<td style="padding: 20px; background: #aab;"><a href="http://localhost/codewrite/codewrite/course/main.php?cmd=answerQuestion&amp;id=22&amp;tab=1#tabs" style="padding: 5px;">Make a submission</a></td>
				<td style="padding: 20px; "><a href="http://localhost/codewrite/codewrite/course/main.php?cmd=answerQuestion&amp;id=22&amp;tab=2#tabs" style="padding: 5px;">View all solutions</a></td>	
				<td style="padding: 20px; "><a href="http://localhost/codewrite/codewrite/course/main.php?cmd=answerQuestion&amp;id=22&amp;tab=3#tabs" style="padding: 5px;">View all comments</a></td>	
			</tr></tbody></table>
		</div>


	
		
		<form action="main.php" method="post">

		<div style="padding-left: 20px; padding-top: 20px;">
		<span style="font-family:Courier New, monospace; font-weight: bold;">public boolean isMillionaire (int cash)</span> {
		<div style="padding-left: 20px; padding-top: 5px;">
<!-- 		<textarea name="submission" cols=40 rows=6>return (cash > 1000000)</textarea>   -->


<textarea id="codeEditArea" class="codeEditArea" name="submission" rows="5" wrap="off" onfocus="if(this.value == 'Type your code here.')this.value = ''" onblur="if(this.value=='' || this.value==' ')this.value = 'Type your code here.'" onkeydown="return interceptTabs(event, this);">return (cash &gt; 1000000)</textarea>


		</div>
		<b>}</b>
		<div>

		<input name="answer" value="Submit this code &nbsp;»" class="btn_answer" onmouseover="this.className='btn_answer btnhov_answer'" onmouseout="this.className='btn_answer'" onmousedown="this.className='btn_answerclick'" type="submit">
		<input name="cmd" value="saveAnswer" type="hidden">
		<input name="qid" value="22" type="hidden">
		

<!--
		<select name="temp_result">
		<option value="PASS">PASS</option>
		<option value="FAIL">FAIL</option>
		<option value="NOCOMPILE">NOCOMPILE</option>
		<option value="NYA">NYA</option>
		</select>
-->
		</div>
		</div>
		</form>
		
		<div id="compilationResultsStatusFail" style="min-width: 950px;">It looks like your code was unable to compile. Let's take a look why...</div>
		<div id="compilationResultCompilerMessage" style="min-width: 950px;">


		<div class="feedback">

	<p>Looking at your code, it appears that you are calling a method including the variable type with the variable type in the parameters (e.g. <code>someMethod(int 5);</code> ).</p>

	<p>It is unnessasary to do this, as Java already knows what type the variables are from when they were declared originally. Remove the variable types from in front of the variable names in the method calls and try run your code again.</p>

	<div class="example">

		<table>

			<tr>
				<th></th>
				<th>Incorrect Code</th>
				<th>Correct Code</th>
				<th>Explanation</th>
			</tr>
			<tr>
				<td class="eHeader"><p>Example</p></td>
				<td class="incorrectCode">
<pre>String word = "Programming";
int position = 4;
String end = word.substring(int position);</pre>
				</td>
				<td class="correctCode">
<pre>String word = "Programming";
int position = 4;
String end = word.substring(position);</pre>
				</td>
				<td class="explanation">
					<p>We don't need to specify that position is an int in the call to substring.</p>
				</td>
			</tr>

		</table>

	</div>

</div>




		</div>
		<div id="compilationResultsTableArea">
		<div style="padding-top: 10px; padding-bottom: 10px; font-size: 90%; font-style: italic;">The
 code you submitted contained at least one syntax error.  View the error
 message above then correct your code and submit it again.</div>
		</div>
		


	


	

	</div>

	

	
	<h2>Follow</h2>
	<table id="displayFeedbackTable" border="0">
	<tbody><tr valign="top">
	<td>
	<form id="followForm" action="main.php" method="get">
		<input value="Follow" class="btn" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" type="submit">
		<input name="cmd" value="answerQuestion" type="hidden">
		<input name="id" value="22" type="hidden">
		<input name="follow" value="1" type="hidden">
	</form>
	</td>
	<td><img src="feedbackPage_files/startFollow.png"></td>
	<td>
	If you would like to follow this author, click the "Follow" button.  
This will give you access to all of their existing and new questions in 
the "Followed questions" section of the Main Menu.
	</td>
	</tr>
	</tbody></table>




</div>




</body></html>